<div class="px-6 md:px-14 lg:px-20 py-8 md:py-24">
    <div class="mx-auto text-center bg-white shadow-lg rounded-2xl p-8 md:p-14">
        {{ if heading }}
        <h2 class="text-3xl font-bold mb-6">
            {{ heading }}
        </h2>
        {{ /if }}
        {{ if text }}
            <p class="text-gray-600 mb-10 text-lg">
                {{ text }}
            </p>
        {{ /if }}
        <a
            href="{{ button_link }}"
            target="_blank"
            rel="noopener"
            class="inline-block bg-orange-500 hover:bg-orange-600 text-white font-medium px-8 py-3 rounded-full transition"
        >
            {{ button_label }}
        </a>
    </div>
</div>
