<footer class="px-6 md:px-14 lg:px-20 py-10 bg-[#1b2531] border-t border-gray-200">
    <div class="flex flex-col">
        <div class="flex mb-8">
            <img src="{{ theme:footer_logo }}" class="h-10 w-auto" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-white/40 mb-8">
            <div>
                <h6 class="text-sm text-white">Address</h6>
                <div class="mb-4">
                    {{ theme:address | nl2br }}
                </div>
                <h6 class="text-sm text-white">Contact</h6>
                <p>
                    <a href="tel:{{ theme:phone_number }}">{{ theme:phone_number }}</a> <br />
                    <a href="mail:{{ theme:email }}">{{ theme:email }}</a>
                </p>
            </div>
            <div>
                <h3 class="font-bold text-lg mb-4 text-white">Quick Links</h3>
                <ul>
                    {{ nav:footer_nav }}
                    <li class="mb-2"><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:footer_nav }}
                </ul>
            </div>

            <div>
                <h3 class="font-bold text-lg mb-4 text-white">Programs</h3>
                <ul>
                    {{ nav:footer_programs }}
                    <li class="mb-2"><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:footer_programs }}
                </ul>
            </div>
        </div>

        <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-3 sm:gap-0 pt-6 border-t border-white/10 text-white/40">
            <div class="flex">
                <p class="font-light text-xs">Copyright 2026 {{ site:name }}. All rights reserved.</p>
            </div>
            <div class="flex gap-4 ml-auto">
                {{ nav:copyright_nav }}
                    <a href="{{ url }}" class="font-light text-xs">{{ title }}</a>
                {{ /nav:copyright_nav }}
            </div>
        </div>
    </div>
</footer>
