<footer class="px-6 md:px-14 lg:px-20 py-10 bg-[#1b2531] border-t border-gray-200">
    <div class="flex flex-col">
        <div class="flex mb-8">
            <img src="{{ theme:footer_logo }}" class="h-14 w-auto" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-white/40 mb-8">
            <div>
                <h6 class="text-sm text-white">Address</h6>
                <div class="mb-4">
                    {{ theme:address | nl2br }}
                </div>
                <h6 class="text-sm text-white">Contact</h6>
                <p>
                    <a href="tel:{{ theme:phone_number }}">{{ theme:phone_number }}</a> <br />
                    <a href="mail:{{ theme:email }}">{{ theme:email }}</a>
                </p>
            </div>
            <div>
                <h3 class="font-bold text-lg mb-4 text-white">Quick Links</h3>
                <ul>
                    {{ nav:footer_nav }}
                    <li class="mb-2"><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:footer_nav }}
                </ul>
            </div>

            <div>
                <h3 class="font-bold text-lg mb-4 text-white">Subscribe to your newsletter</h3>
                <p class="text-white/40 mb-4">
                    Stay updated with our latest news and initiatives.
                </p>
                {{ form:newsletter }}
                    {{ if success }}
                        <p
                            class="bg-green-50 border border-green-200 text-green-700 rounded-lg px-4 py-4 mb-4"
                        >
                            Thank you for subscribing to our newsletter!
                        </p>
                    {{ /if }}
                    {{ if errors }}
                        <div
                            class="bg-red-50 border border-red-200 text-red-700 rounded-lg px-4 py-3 mb-4"
                        >
                            {{ errors }}
                                <p>{{ value }}</p>
                            {{ /errors }}
                        </div>
                    {{ /if }}
                    <div class="flex gap-2">
                        <input type="email" name="email" placeholder="Your email address" class="bg-[#2a3a4d] text-white placeholder:text-white/40 border border-white/10 focus:outline-none focus:ring-2 focus:ring-orange-500 p-2 rounded-2xl" required />
                        <button type="submit" class="px-4 py-2 bg-orange-500 text-white rounded-full hover:bg-orange-600 transition">
                            Subscribe
                        </button>
                    </div>
                {{ /form:newsletter }}

                <div class="flex gap-3 mt-6">
                    {{ partial:partials/_social_icons }}
                </div>
            </div>
        </div>

        <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-3 sm:gap-0 pt-6 border-t border-white/10 text-white/40">
            <div class="flex">
                <p class="font-light text-xs">Copyright 2026 {{ site:name }}. All rights reserved.</p>
            </div>
            <div class="flex gap-4 ml-auto">
                {{ nav:copyright_nav }}
                    <a href="{{ url }}" class="font-light text-xs">{{ title }}</a>
                {{ /nav:copyright_nav }}
            </div>
        </div>
    </div>
</footer>
